<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>checkLogin</servlet-name>
        <servlet-class>com.turksat.servlet.checkLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>com.turksat.servlet.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseRegistration</servlet-name>
        <servlet-class>com.turksat.servlet.courseRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listLectures</servlet-name>
        <servlet-class>com.turksat.servlet.listLectures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listGrades</servlet-name>
        <servlet-class>com.turksat.servlet.listGrades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignGrade</servlet-name>
        <servlet-class>com.turksat.servlet.assignGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.turksat.servlet.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>com.turksat.servlet.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>soapService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseRegistration</servlet-name>
        <url-pattern>/courseRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listLectures</servlet-name>
        <url-pattern>/listLectures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listGrades</servlet-name>
        <url-pattern>/listGrades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignGrade</servlet-name>
        <url-pattern>/assignGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>soapService</servlet-name>
        <url-pattern>/soapService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
</web-app>
